
<ion-header>

  <ion-navbar color="primary">
    <ion-title>TICKETS ONLINE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
 
  <div></div>
    <div style="overflow:auto;-webkit-overflow-scrolling:touch;position:relative;top: -35px;">
        <iframe src="http://www.singaporeslingers.com/tickets" style="width:100%;height:1000px;" frameborder="0" allowfullscreen></iframe>
      </div>
</ion-content>
