<ion-header>

  <ion-navbar color="primary">
    <ion-title>STATISTICS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-grid class="no-padding">
<div class="shit-container">
  <div  class="forecast_container">
    <ion-row nowrap>
      <ion-col col-8 class="white text-center bg-black boldy">
        <div class="label"></div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">MIN</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">PTS</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">AST</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">REB</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">FG%</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">BLK</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">STL</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">3PT%</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">FT%</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">TO</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">PF</div>
      </ion-col>
    </ion-row>
    <ion-row  *ngFor="let dataPlayersStatistic of dataPlayersStatistics" nowrap class="table-padding">
        <ion-col col-8 class="text-center">
          <div></div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ decimalMpg(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ decimalCareerPpg(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ decimalCareerApg(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ decimalCareerRpg(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ fieldgoalCareer(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{  decimalCareerBpg(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ decimalCareerSpg(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ threepointsCareer(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ freethrowsCareer(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ decimalCareerTpg(dataPlayersStatistic) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ decimalCareerFppg(dataPlayersStatistic) }}</div>
      </ion-col>
      </ion-row>
  </div>
</div>
    
    <ion-row>
      <ion-col col-1 class="white text-center bg-black boldy">
        <div>#</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div>POS</div>
      </ion-col>
      <ion-col col-5 class="white text-center bg-black boldy">
        <div>NAME</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let dataPlayersStatistic of dataPlayersStatistics" class="player-stats">
      <ion-col col-1 class="text-center bg-white">
        <div class="table-padding">{{ dataPlayersStatistic.defaultShirtNumber }}</div>
      </ion-col>
      <ion-col col-2 class="text-center bg-white">
        <div class="table-padding">{{ dataPlayersStatistic.defaultPlayingPosition }}</div>
      </ion-col>
      <ion-col col-5 class="text-center bg-white player-name">
        <div class="table-padding">{{ name(dataPlayersStatistic) }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
