.forecast_container{
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    height: 100%;
    font-size: 1.4rem;
    position: absolute;
    width: 100%;
  
}
.forecast_container .label {
    font-weight: 700;
    font-size: 1.4rem;
}
.player-name {
    -webkit-box-shadow: 1px 1px 1px 0px #a2a2a2;
    box-shadow: 1px 1px 1px 0px #a2a2a2;
    background-color: #eaeaea;
}
