<ion-header>

  <ion-navbar>
    <ion-title>games</ion-title>
  </ion-navbar>
   <ion-toolbar>
      <ion-content  #MultiItemsScrollingTabs class="tabsContent">
        <ion-segment  class="SwipedTabs-tabs"  >
          <ion-segment-button *ngFor='let tab of tabs ; let i = index ' id="tabTitle{{i}}" value="IngoreMe" (click)="selectTab(i)"
          [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'   >
          {{ tab | date: 'EEE, d MMM' }}
        </ion-segment-button>
      </ion-segment>
      <!-- here is our dynamic line  "indicator"-->
      <div id='indicator' class="SwipedTabs-indicatorSegment"></div>
    </ion-content>
  </ion-toolbar>

</ion-header>


<ion-content padding>
<ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
    (ionSlideDidChange)="updateIndicatorPosition()"
    (ionSlideWillChange)="scrollIndicatiorTab()"
    (panend)="updateIndicatorPositionOnTouchEnd()"
    [pager]="false">
          <ion-slide *ngFor="let shit of shits">
              <h1>{{ shit.competitors[0].competitorName }}</h1>
              <h1>{{ shit.competitors[1].competitorName }}</h1>
          </ion-slide>

    </ion-slides>
</ion-content>