<div id="tab_container_9623" class="playerTabsi"><ul class="wpsm_nav wpsm_nav-tabs" role="tablist" id="myTab_9623"><li role="presentation" class="active"><a href="#tabs_desc_9623_1" aria-controls="tabs_desc_9623_1" role="tab" data-toggle="tab" hidefocus="true" style="outline: none;" aria-expanded="true"><i class="fa fa-bar-chart-o"></i><span>STATISTICS</span></a></li><li role="presentation" class=""><a href="#tabs_desc_9623_2" aria-controls="tabs_desc_9623_2" role="tab" data-toggle="tab" hidefocus="true" style="outline: none;" aria-expanded="false"><i class="fa fa-list"></i><span>GAME HISTORY</span></a></li></ul><div class="tab-content" id="tab-content_9623"><div role="tabpanel" class="tab-pane active" id="tabs_desc_9623_1"><div class="fw-raw-code "><div class="glossarysz"> 
<h3 class="toggle"><strong><a href="#" hidefocus="true" style="outline: none;">GLOSSARY</a></strong></h3><div class="toggle-box" style="display: none;"><p></p><div class="stats-glossary" aria-hidden="false"><dt>GP</dt><dd>Games Played</dd><dt>MIN</dt><dd>Minutes Played</dd><dt>FGM</dt><dd>Field Goals Made</dd><dt>FGA</dt><dd>Field Goals Attempted</dd><dt>FG%</dt><dd>Field Goal Percentage</dd><dt>3PM</dt><dd>3 Point Field Goals Made</dd><dt>3PA</dt><dd>3 Point Field Goals Attempted</dd><dt>3P%</dt><dd>3 Point Field Goals Percentage</dd> 
<dt>FTM</dt> 
<dd>Free Throws Made</dd> 
<dt>FTA</dt> 
<dd>Free Throws Attempted</dd> 
<dt>FT%</dt> 
<dd>Free Throw Percentage</dd> 
<dt>OREB</dt> 
<dd>Offensive Rebounds</dd> 
<dt>DREB</dt> 
<dd>Defensive Rebounds</dd> 
<dt>REB</dt> 
<dd>Rebounds</dd> 
<dt>AST</dt>
<dd>Assists</dd> 
<dt>TOV</dt> 
<dd>Turnovers</dd> 
<dt>STL</dt> 
<dd>Steals</dd> 
<dt>BLK</dt> 
<dd>Blocks</dd> 
<dt>PF</dt> 
<dd>Personal Fouls</dd> 
</div> 
<p></p></div><p></p> 
<p></p></div></div><div class="playerStatisticsz sportspress"><div class="sp-template sp-template-league-table"><div class="sp-table-wrapper"> <div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><table class="sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table dataTable no-footer" data-sp-rows="10" id="DataTables_Table_0" role="grid"><thead><tr role="row"><th class="data-year sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="YEAR">YEAR</th><th class="data-name sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="TEAM">TEAM</th><th class="data-w sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="GP">GP</th><th class="data-min sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="MIN">MIN</th><th class="data-ppg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="PPG">PPG</th><th class="data-fgm sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FGM">FGM</th><th class="data-fga sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FGA">FGA</th><th class="data-lten sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FG%">FG%</th><th class="data-3pm sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="3PM">3PM</th><th class="data-3pa sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="3PA">3PA</th><th class="data-3pa sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="3P%">3P%</th><th class="data-ftm sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FTM">FTM</th><th class="data-fta sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FTA">FTA</th><th class="data-ftP sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FT%">FT%</th><th class="data-orebg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="OREBG">OREBG</th><th class="data-drebg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="DREBG">DREBG</th><th class="data-reb sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="REBG">REBG</th><th class="data-astg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ASTG">ASTG</th><th class="data-tovg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="TOVG">TOVG</th><th class="data-stl sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="STPG">STPG</th><th class="data-bpg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="BPG">BPG</th><th class="data-pfg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="PFG">PFG</th></tr></thead><tbody><tr class="sp-row-no-0 odd" role="row">
				<td class="data-rank year">-</td>
				<td class="data-name has-logo">-</td>
				<td class="data-gp">-</td>
				<td class="data-min">-</td>
				<td class="data-ppg">-</td>
				<td class="data-FGM">-</td>
				<td class="data-FGA">-</td>
				<td class="data-FG%">-</td>
				<td class="data-3pm">-</td>
                <td class="data-3pa">-</td>
                <td class="data-3p%">-</td>
                <td class="data-ftm">-</td>
                <td class="data-fta">-</td>
                <td class="data-ft%">-</td>
                <td class="data-orebg">-</td>
                <td class="data-drebg">-</td>
                <td class="data-rebg">-</td>
                <td class="data-astg">-</td>
                <td class="data-tovg">-</td>
                <td class="data-stpg">-</td>
                <td class="data-bpg">-</td>
                <td class="data-pfg">-</td></tr></tbody></table></div></div></div></div></div></div></div></div></div></div></div></div></div>						 </div>
												 <div role="tabpanel" class="tab-pane" id="tabs_desc_9623_2">
								<div class="fw-raw-code ">
	<div class="glossarysz"> 
<h3 class="toggle"><strong><a href="#" hidefocus="true" style="outline: none;">GLOSSARY</a></strong></h3><div class="toggle-box" style="display: none;"><p> 
</p><div class="stats-glossary" aria-hidden="false"> 
 	<dt>MIN</dt> 
 	<dd>Minutes Played</dd> 
 	<dt>FG</dt> 
 	<dd>Field Goal</dd>
 	<dt>FG%</dt> 
 	<dd>Field Goal Percentage</dd>
<dt>2PTS</dt> 
<dd>2 points</dd>  
 	<dt>3PTS</dt> 
 	<dd>3 Points</dd> 
        <dt>3PTS%</dt> 
 	<dd>3 Point Field Goals Percentage</dd> 
<dt>FT</dt> 
<dd>Free Throws</dd> 
<dt>FT%</dt> 
<dd>Free Throw Percentage</dd> 
<dt>OREB</dt> 
<dd>Offensive Rebounds</dd> 
<dt>DREB</dt> 
<dd>Defensive Rebounds</dd> 
<dt>TREB</dt> 
<dd>Total Rebounds</dd> 
<dt>AST</dt>
<dd>Assists</dd> 
<dt>PF</dt> 
<dd>Personal Fouls</dd> 
<dt>TOV</dt> 
<dd>Turnovers</dd> 
<dt>STL</dt> 
<dd>Steals</dd> 
<dt>BLK</dt> 
<dd>Blocks</dd>
<dt>PTS</dt> 
<dd>Points</dd> 
 
</div> 
<p></p></div><p></p> 
<p></p></div></div><div class="sportspress"><div class="sp-template sp-template-league-table"><div class="sp-table-wrapper"> <div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer playerHistorysz"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="sp-scrollable-table-wrapper"><div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><table class="sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table dataTable no-footer" data-sp-rows="10" id="DataTables_Table_0" role="grid"><thead><tr role="row"><th class="data-match sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="MATCH">MATCH</th><th class="data-date sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="DATE">DATE</th><th class="data-min sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="MIN">MIN</th><th class="data-fg sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FG">FG</th><th class="data-fgp sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FG%">FG%</th><th class="data-twopts sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="2PTS">2PTS</th><th class="data-twoptsP sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="2PTS%">2PTS%</th><th class="data-threepts sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="3PTS">3PTS</th><th class="data-threeptsP sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="3PTS%">3PTS%</th><th class="data-ft sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FT">FT</th><th class="data-ftP sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FT%">FT%</th><th class="data-oreb sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="OREB">OREB</th><th class="data-dreb sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="DREB">DREB</th><th class="data-treb sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="TREB">TREB</th><th class="data-ast sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="AST">AST</th><th class="data-pf sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="PF">PF</th><th class="data-tov sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="TOV">TOV</th><th class="data-stl sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="STL">STL</th><th class="data-reb sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="BLK">BLK</th><th class="data-pts sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="PTS">PTS</th></tr></thead><tbody><tr class="sp-row-no-0 odd" role="row">
				<td class="data-match">-<span class="competitorsz">-</span></td>
				<td class="data-date">-</td>
				<td class="data-min">-</td>
				<td class="data-fg has-logo">-</td>
				<td class="data-fgp">-</td>
				<td class="data-twopts">-</td>
				<td class="data-twoptsP">-</td>
				<td class="data-threepts">-</td>
				<td class="data-threeptsP">-</td>
				<td class="data-ft">-</td>
				<td class="data-ftP">-</td>
                <td class="data-oreb">-</td>
                <td class="data-dreb">-</td>
                <td class="data-treb">-</td>
                <td class="data-ast">-</td>
                <td class="data-pf">-</td>
                <td class="data-tov">-</td>
                <td class="data-stl">-</td>
                <td class="data-blk">-</td>
                <td class="data-pts">-</td></tr></tbody></table></div></div></div></div></div></div></div></div></div></div></div></div></div>						 </div></div></div>