<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Games" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Videos" tabIcon="logo-youtube"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Team" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Tickets" tabIcon="map"></ion-tab>
</ion-tabs>
