page-modal {
    .modal-yan-ih, .fixed-content {
        background-color: rgba(0, 0, 0, 0.6392156862745098);
    }
    .modal-blank .toolbar-background {
        background: transparent;
    }
    .btn-close .button-inner {
        color: #ffffff;
    }
    .padding-topsz {
        padding-top: 100px;
    }
}

.md {
    page-modal {
    .modal-yan-ih, .fixed-content {
        background-color: rgba(0, 0, 0, 0.6392156862745098);
    }
    .modal-blank .toolbar-background {
        background: transparent !important;
    }
    .btn-close .button-inner {
        color: #ffffff !important;
    }
    .padding-topsz {
        padding-top: 100px !important;
    }
    }
}
