<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="modal-blank">
    <ion-title></ion-title>
    <ion-buttons>
      <button class="btn-close" ion-button (click)="closeModal()"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen class="modal-yan-ih">
  <div class="padding-topsz"></div>
  <iframe autoplay width="100%" height="315" [src]="url | youtube" frameborder="0" allowfullscreen></iframe>
</ion-content>
