<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>TEAM</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-grid class="no-padding">
    <ion-row *ngFor="let team of teams" class="paddingFive">
      <ion-col col-8>
       <h5 class="name-space-top">{{ team.clubName }}</h5>
       <p class="no-margin">SINGAPORE <span class="flag-icon flag-icon-sg"></span></p>
      </ion-col>
      <ion-col class="logo-container">
        <img src="{{ team.images.logo.S1.url }}" alt="logo" class="responsive-img team-logo-yeah" width="600" height="400">
      </ion-col>
    </ion-row>
    <div class="hr"> </div>
    <ion-row>
      <ion-col class="text-center bg-click" tappable (click)="statistics()">
        <div class="label red"><ion-icon name="stats"></ion-icon> STATISTICS</div>
      </ion-col>
      <ion-col class="text-center bg-click" tappable (click)="roster()">
        <div class="label red"><ion-icon name="people"></ion-icon> ROSTER</div>
      </ion-col>
    </ion-row>
    <div class="hr"> </div>
    <ion-row *ngFor="let teamStat of teamStats">
      <ion-col>
        <div class="stats-result text-center">{{ decimalPpg(teamStat) }}</div>
        <p class="label-stats text-center">PPG</p>
      </ion-col>
      <ion-col>
        <div class="stats-result text-center">{{ fgpercentage(teamStat) }}</div>
        <p class="label-stats text-center">FG%</p>
      </ion-col>
      <ion-col>
        <div class="stats-result text-center">{{ threeptpercentage(teamStat) }}</div>
        <p class="label-stats text-center">3PT%</p>
      </ion-col>
      <ion-col>
        <div class="stats-result text-center">{{ ftpercentage(teamStat) }}</div>
        <p class="label-stats text-center">FT%</p>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let teamStat of teamStats">
      <ion-col>
        <div class="stats-result text-center">{{ decimalRpg(teamStat) }}</div>
        <p class="label-stats text-center">RPG</p>
      </ion-col>
      <ion-col>
        <div class="stats-result text-center">{{ decimalApg(teamStat) }}</div>
        <p class="label-stats text-center">APG</p>
      </ion-col>
      <ion-col>
        <div class="stats-result text-center">{{ decimalSpg(teamStat) }}</div>
        <p class="label-stats text-center">SPG</p>
      </ion-col>
      <ion-col>
        <div class="stats-result text-center">{{ decimalBpg(teamStat) }}</div>
        <p class="label-stats text-center">BPG</p>
      </ion-col>
    </ion-row>
    <ion-row class="bg-gray">
      <ion-col class="text-left">
        <div class="label">LAST GAMES</div>
      </ion-col>
      <ion-col *ngFor="let teamLastFive of teamLastFives" class="text-right">
        <div class="label">LAST 5 {{ lastFive(teamLastFive) }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let lastGame of lastGames" class="last-games padding-kaliwa-kanan">
      <ion-col *ngIf="lastGame.competitors[0].isHomeCompetitor == 1; else mylife" col-1 class="text-center">
        <div>vs</div>
      </ion-col>
      <ng-template #mylife>
        <ion-col col-1 class="text-center">
          <div>@</div>
        </ion-col>
      </ng-template>
      <ion-col *ngIf="lastGame.competitors[0].competitorId == 79; else yuhu" col-2 class="text-center boldy">
        <div>{{ lastGame.competitors[1].teamCode }}</div>
      </ion-col>
      <ng-template #yuhu>
        <ion-col col-2 class="text-center boldy">
          <div>{{ lastGame.competitors[0].teamCode }}</div>
        </ion-col>
      </ng-template>
     
      <ion-col col-5>
        <div>{{ lastGame.matchTime | dateforteam }}</div>
      </ion-col>
      <ion-col *ngIf="lastGame.competitors[0].competitorId == 79; else subscribe" col-4 class="text-right">
        <div>{{ ishome(lastGame) }}</div>
      </ion-col>
      <ng-template #subscribe>
        <ion-col col-4 class="text-right">
          <div>{{ isaway(lastGame) }}</div>
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-row class="padding-kaliwa-kanan text-right game-tracker bg-click" tappable (click)="tracker()">
      <ion-col>
        <div class="label red">GAME TRACKER</div>
      </ion-col>
    </ion-row>
    <ion-row class="bg-black boldy">
      <ion-col col-3 class="white text-center">
        <div>TEAM</div>
      </ion-col>
      <ion-col col-1 class="white text-center">
        <div>W</div>
      </ion-col>
      <ion-col col-1 class="white text-center">
        <div>L</div>
      </ion-col>
      <ion-col col-3 class="white text-center">
        <div>WIN%</div>
      </ion-col>
      <ion-col col-2 class="white text-center">
        <div>L5</div>
      </ion-col>
      <ion-col col-2 class="white text-center">
        <div>STRK</div>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let teamFinalStanding of teamFinalStandings">
    <ion-row *ngIf="teamFinalStanding.competitorId == 79; else kumpletuna" class="standing boldy">
      <ion-col col-3 class="text-center">
        <div>{{ teamFinalStanding.teamNickname }}</div>
      </ion-col>
      <ion-col col-1 class="text-center">
        <div>{{ teamFinalStanding.won }}</div>
      </ion-col>
      <ion-col col-1 class="text-center">
        <div>{{ teamFinalStanding.lost }}</div>
      </ion-col>
      <ion-col col-3 class="text-center">
        <div>{{ winpercentage(teamFinalStanding) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ lastpayb(teamFinalStanding) }}</div>
      </ion-col>
      <ion-col col-2 class="text-center">
        <div>{{ streak(teamFinalStanding) }}</div>
      </ion-col>
    </ion-row>
    <ng-template #kumpletuna>
        <ion-row  class="standing">
          <ion-col col-3 class="text-center">
            <div>{{ teamFinalStanding.teamNickname }}</div>
          </ion-col>
          <ion-col col-1 class="text-center">
            <div>{{ teamFinalStanding.won }}</div>
          </ion-col>
          <ion-col col-1 class="text-center">
            <div>{{ teamFinalStanding.lost }}</div>
          </ion-col>
          <ion-col col-3 class="text-center">
            <div>{{ winpercentage(teamFinalStanding) }}</div>
          </ion-col>
          <ion-col col-2 class="text-center">
            <div>{{ lastpayb(teamFinalStanding) }}</div>
          </ion-col>
          <ion-col col-2 class="text-center">
            <div>{{ streak(teamFinalStanding) }}</div>
          </ion-col>
        </ion-row>
    </ng-template>
  </ng-container>
    <ion-row class="padding-kaliwa-kanan text-right standings bg-click" tappable (click)="standings()">
      <ion-col>
        <div class="label red">STANDINGS</div>
      </ion-col>
    </ion-row>
    <ion-row class="bg-gray">
      <ion-col class="text-left">
        <div class="label">LEADERS</div>
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let dataPoint of dataPoints" class="bg-click" tappable (click)="playerDetailsPoints(dataPoint)">
      <ion-avatar item-start *ngIf="dataPoint.images == undefined; else pakyu">
        <img class="player-photo" src="assets/imgs/unknown-player.jpg">
      </ion-avatar>
      <ng-template #pakyu>
        <ion-avatar item-start>
          <img class="player-photo" src="{{ dataPoint.images.photo.S1.url }}">
        </ion-avatar>
      </ng-template>
      <p class="leaders-title">POINTS</p>
      <h5><font class="player-number"></font>{{ leadPointsFirstname(dataPoint ) }} {{ leadPointsLastname(dataPoint) }}</h5>
      <p>{{ pointLeader(dataPoint) }} PPG</p>
    </ion-item>
    <ion-item *ngFor="let dataAssist of dataAssists" class="bg-click" tappable (click)="playerDetailsAssists(dataAssist)">
        <ion-avatar item-start *ngIf="dataAssist.images == undefined; else pakyuTwo">
          <img class="player-photo" src="assets/imgs/unknown-player.jpg">
        </ion-avatar>
        <ng-template #pakyuTwo>
          <ion-avatar item-start>
            <img class="player-photo" src="{{ dataAssist.images.photo.S1.url }}">
          </ion-avatar>
        </ng-template>
        <p class="leaders-title">ASSISTS</p>
        <h5><font class="player-number"></font>{{ leadAssistsFirstname(dataAssist ) }} {{ leadAssistsLastname(dataAssist) }}</h5>
        <p>{{ assistsLeader(dataAssist) }} APG</p>
      </ion-item>
      <ion-item *ngFor="let dataRebound of dataRebounds" class="bg-click" tappable (click)="playerDetailsRebounds(dataRebound)">
          <ion-avatar item-start *ngIf="dataRebound.images == undefined; else pakyuThree">
            <img class="player-photo" src="assets/imgs/unknown-player.jpg">
          </ion-avatar>
          <ng-template #pakyuThree>
            <ion-avatar item-start>
              <img class="player-photo" src="{{ dataRebound.images.photo.S1.url }}">
            </ion-avatar>
          </ng-template>
          <p class="leaders-title">REBOUNDS</p>
          <h5><font class="player-number"></font>{{ leadReboundsFirstname(dataRebound ) }} {{ leadReboundsLastname(dataRebound) }}</h5>
          <p>{{ reboundsLeader(dataRebound) }} RPG</p>
        </ion-item>
  </ion-grid>
</ion-content>
