.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.paddingFive {
    padding: 0 3px;
    height: 120px;
}
.responsive-img {
    max-width: 100%;
    height: auto;
}
.name-space-top {
    padding-top: 20px;
}
.flag-icon-sg {
    border: 1px solid #ddd;
}
.hr {
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
    width: 100%;
}
.label {
    font-weight: 700;
}
.label-stats {
    margin-top: 7px;
    font-size: 13px;
    color: #8e8e8e;
}
.stats-result {
    font-size: 18px;
    font-weight: 700;
}
.bg-gray {
    padding: 0 5px;
    color: #8e8e8e;
    background-color: #eaeaea;
}
.last-games {
    padding-top: 3px;
    padding-bottom: 3px;
}
.game-tracker {
    padding-bottom: 5px;
}
.standing {
    padding-top: 3px;
    padding-bottom: 3px;
}
.standings {
    padding-top: 5px;
    padding-bottom: 5px;
}
.player-photo {
    height: 80px !important;
    width: 80px !important;
}
.player-number {
    color: #545454;
}
page-team { 
    .name-space-top {
        text-transform: uppercase;
    }
    .leaders-title {
        color: #000 !important;
        font-weight: 500;
    }
    .logo-container {
        position: relative;
    }
    .team-logo-yeah {
        width: 100px;
        height: auto;
        float: right;
        padding-top: 10px;
    }
}
