<ion-header>

  <ion-navbar color="primary">
    <ion-title>STANDINGS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-grid class="no-padding">
    <div  class="forecast_container_standings">
    <ion-row nowrap>
      <ion-col col-5 class="white text-center bg-black boldy">
          <div class="label"></div>
        </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">W</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">L</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">PCT</div>
      </ion-col>
      <ion-col col-3 class="white text-center bg-black boldy">
        <div class="label">HOME</div>
      </ion-col>
      <ion-col col-3 class="white text-center bg-black boldy">
        <div class="label">ROAD</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">L5</div>
      </ion-col>
      <ion-col col-2 class="white text-center bg-black boldy">
        <div class="label">STRK</div>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let teamFinalStanding of teamFinalStandings">
      <ion-row *ngIf="teamFinalStanding.competitorId == 88261; else kumpletunaWow" nowrap class="table-padding">
        <ion-col col-5 class="text-center">
            <div></div>
          </ion-col>
        <ion-col col-2 class="text-center boldy">
          <div>{{ teamFinalStanding.won }}</div>
        </ion-col>
        <ion-col col-2 class="text-center boldy">
          <div>{{ teamFinalStanding.lost }}</div>
        </ion-col>
        <ion-col col-2 class="text-center boldy">
          <div>{{ winpercentage(teamFinalStanding) }}</div>
        </ion-col>
        <ion-col col-3 class="text-center boldy">
          <div>{{ teamFinalStanding.homeWins }}-{{ teamFinalStanding.homeLosses }}</div>
        </ion-col>
        <ion-col col-3 class="text-center boldy">
          <div>{{ teamFinalStanding.awayWins }}-{{ teamFinalStanding.awayLosses }}</div>
        </ion-col>
        <ion-col col-2 class="text-center boldy">
          <div>{{ lastpayb(teamFinalStanding) }}</div>
        </ion-col>
        <ion-col col-2 class="text-center boldy">
          <div>{{ streak(teamFinalStanding) }}</div>
        </ion-col>
      </ion-row>
      <ng-template #kumpletunaWow>
        <ion-row nowrap class="table-padding">
          <ion-col col-5 class="text-center">
              <div></div>
            </ion-col>
            <ion-col col-2 class="text-center">
              <div>{{ teamFinalStanding.won }}</div>
            </ion-col>
            <ion-col col-2 class="text-center">
              <div>{{ teamFinalStanding.lost }}</div>
            </ion-col>
            <ion-col col-2 class="text-center">
              <div>{{ winpercentage(teamFinalStanding) }}</div>
            </ion-col>
            <ion-col col-3 class="text-center">
              <div>{{ teamFinalStanding.homeWins }}-{{ teamFinalStanding.homeLosses }}</div>
            </ion-col>
            <ion-col col-3 class="text-center">
              <div>{{ teamFinalStanding.awayWins }}-{{ teamFinalStanding.awayLosses }}</div>
            </ion-col>
            <ion-col col-2 class="text-center">
              <div>{{ lastpayb(teamFinalStanding) }}</div>
            </ion-col>
            <ion-col col-2 class="text-center">
              <div>{{ streak(teamFinalStanding) }}</div>
            </ion-col>
        </ion-row>
      </ng-template>
    </ng-container>
  </div>
    
    <ion-row>
      <ion-col col-5 class="white text-center bg-black boldy">
        <div>TEAM</div>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let teamFinalStanding of teamFinalStandings">
      <ion-row *ngIf="teamFinalStanding.competitorId == 88261; else maysabi" class="player-stats">
        <ion-col col-5 class="text-center bg-white player-name-standings">
          <div class="table-padding" style="font-weight: 700;">{{ teamFinalStanding.teamNickname }}</div>
        </ion-col>
      </ion-row>
      <ng-template #maysabi>
        <ion-row class="player-stats">
          <ion-col col-5 class="text-center bg-white player-name-standings">
            <div class="table-padding">{{ teamFinalStanding.teamNickname }}</div>
          </ion-col>
        </ion-row>
      </ng-template>
    </ng-container>
  </ion-grid>
</ion-content>

