.forecast_container_standings{
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    height:auto;
    font-size: 1.4rem;
    position: absolute;
    //padding-left: 150px;
    width: 100%;
}
.forecast_container_standings .label {
    font-weight: 700;
    font-size: 1.4rem;
}
.player-name-standings {
    -webkit-box-shadow: 1px 1px 1px 0px #a2a2a2;
    box-shadow: 1px 1px 1px 0px #a2a2a2;
    background-color: #eaeaea;
}