<!--
  Generated template for the ModalSocialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modal-social</ion-title>
    <ion-buttons>
      <button class="btn-close" ion-button (click)="closeModal()"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button class="btn-close" ion-button (click)="closeModal()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
    <div></div>
    <div style="overflow:auto;-webkit-overflow-scrolling:touch;">
        <iframe src="https://www.instagram.com/keemscott/" style="width:100%;height:100%" frameborder="0" allowfullscreen></iframe>
      </div>
</ion-content>
