<ion-header>

  <ion-navbar color="primary">
    <ion-title>VIDEOS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="videos-page" padding #container>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="custom-pull"
        refreshingSpinner="ios-small">
      </ion-refresher-content>
    </ion-refresher>  
    <ion-item  *ngFor="let data of datasFinals" class="line-heighters bg-click" tappable (click)="youtube(data)">
        <ion-avatar item-start style="position: relative;">
          <img class="youtube-thumbnail" [defaultImage]="'assets/imgs/lazy-slingers.jpg'" [lazyLoad]="data.snippet.thumbnails.high.url" [scrollObservable]="container.ionScroll">
          <img class="play-button" src="assets/imgs/sample/play-button-2.png" alt="">
        </ion-avatar>
        <font class="youtube-title" text-wrap>{{ data.snippet.title }}</font>
        <p class="youtube-date">{{ data.snippet.publishedAt | date: "dd MMM, yyyy" }}</p>
      </ion-item>
 
</ion-content>
