page-videos {
    .youtube-thumbnail {
        width: 120px !important;
        height: auto !important;
        border-radius: 0px !important;
    }
    .youtube-title {
        font-weight: normal;
        font-size: 10px;
        line-height: 10px;
    }
    .line-heighters .item-inner {
        line-height: 15px;
        border-bottom: none !important;
    }
    .youtube-date {
        font-size: 10px !important;
        padding: 5px 0;
        font-weight: normal;
    }
    .play-button {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px;
        width: 32px !important;
        height: 32px !important;
        margin: auto 0;
    }
    .videos-page .scroll-content {
        padding: 0 !important;
    }
}
