page-game-detail {
    .sort-label {
        font-size: 10px;
    }
    .forecast_container_standingsz{
        overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
        height:auto;
        font-size: 1.4rem;
        position: absolute;
        width: 100%;
    }
    .forecast_container_standingsz .label {
        font-weight: 700;
        font-size: 1.4rem;
    }
    .player-name-standings {
        -webkit-box-shadow: 1px 1px 1px 0px #a2a2a2;
        box-shadow: 1px 1px 1px 0px #a2a2a2;
        background-color: #ffffff;
    }
    .padding-gamelog {
        padding-left: 10px;
        padding-right: 10px;
    }
    .match-logo {
        height: auto;
        width: 32px;
    }
    .no-padding-top-bottom {
        padding-bottom: 0;
        padding-top: 0;
    }
    .no-padding-top-bottom .table-padding {
        padding-bottom: 0;
        padding-top: 0;
    }
    .align-logo {
        padding-bottom: 8px;
        padding-top: 5px;
    }
    .padding-logo {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .padding-bottom {
        padding-bottom: 5px;
    }
    #myProgress {
        width: 100%;
        height: 10px;
        position: relative;
        background-color: #ddd;
        
    }
    #myBar {
        background-color: #000000;
        width: 40%;
        height: 100%;
        position: absolute;
    }
    #myProgress1 {
        width: 100%;
        height: 10px;
        position: relative;
        background-color: #ddd;
        direction: rtl !important;
    }
    #myBar1 {
        background-color: #e70f09;
        width: 50%;
        height: 100%;
        position: absolute;
    }
    .leaders-label {
        font-size: 1.1rem;
    }
    .bar-right {
        padding-left: 1px;
    }
    .bar-left {
        padding-right: 1px;
    }
    .leaders-score { 
        font-size: 1.4rem;
    }

    .leaders-name {
        font-size: 1rem;
        color: #000000;
    }
    .leaders .item-inner {
        border-bottom: none !important;
    }
    .leaders {
        padding-bottom: 20px;
    }
    .color-gray {
        color: #8e8e8e;
        font-weight: 700;
    }
    .ot-yan {
        padding-left: 0;
        padding-right: 0;
    }
    //playbyplay
    .padding-top-bottom{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .logo-label {
        max-width: 32px !important;
        height: auto;
    }
    .team-away{
        float:left;
    }
    .team-home{
        float:right;
    }
    .play-by-play {
        padding-left: 0;
        font-size: 1.4rem;
    }
    .play-by-play .item-inner {
        padding-right: 0 !important;
        border-bottom: none !important;
    }
    .play-by-play .col {
        padding-left: 0;
        padding-right: 0;
    }
    .play-team {
        box-shadow: 0 8px 6px -6px #eaeaea;
        margin-bottom: 10px;
    }
    .logo-left {
        padding-left: 5px;
    }
    .logo-right {
        padding-right: 5px;
    }
    .play-details .item-inner {
        border-bottom: none !important;
    }
    .play-details {
        border-bottom: 1px solid #c8c7cc;
        border-top: 1px solid #c8c7cc;
        margin-bottom: 15px;
    }
    .play-time {
        font-size: 13px;
        font-weight: normal;
    }
    p.play-who {
        font-size: 11px;
        color: #000000;
    }
    .sticky-play {
        padding: 0;
        background-color: #fff;
    }
    .sticky-play .label {
        margin: 0;
    }
    .periodsz {
        font-size: 1.4rem;
    }
    .hr {
        margin: 0;
    }
    .toolbar-ios-primary .toolbar-background-ios {
        border: none;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color:#fff;
    }
    .team-box .segment-button:last-of-type, .team-box .segment-button:first-of-type {
        border: none !important;
        border-radius: 0;
    }
    .team-box .segment-button:hover:not(.segment-activated) {
        background-color: #eaeaea;
    }
    .team-box .segment-button.segment-activated {
        background: #eaeaea;
    }
    .team-box .team-title {
        font-weight: 600;
    }
    .team-box {
        border-bottom: 1px solid #c3c3c3;
    }
    .team-name {
        padding: 5px 0;
    }
    .forecast_container{
        overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
        height:auto;
        font-size: 1.4rem;
        position: absolute;
        width: 100%;
        //z-index: -999;
    }
    .forecast_container .label {
        font-weight: 700;
        font-size: 1.4rem;
    }
    .player-name {
        -webkit-box-shadow: 1px 1px 1px 0px #a2a2a2;
        box-shadow: 1px 1px 1px 0px #a2a2a2;
        background-color: #eaeaea;
    }
    .forecast_container-two{
        overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
        height:auto;
        font-size: 1.4rem;
        position: absolute;
        width: 100%;
        //z-index: -999;
       
    }
    .forecast_container-two .label {
        font-weight: 700;
        font-size: 1.4rem;
    }
    .last-item {
        margin-bottom: 15px;
    }
    .shit-container {
        height: 100%;
        width: 100%;
        position: relative;
    } 
    .leaders-image {
        margin: 0 auto;
    }
    .periods {
        width: 100%;
        padding: 0;
    }
    .periods .label {
        margin: 0;
    }
    .quarters {
        font-size: 1.4rem;
        color: #e70f09;
    }
    .periods .segment-button {
        border: none !important;
    }
    .periods .segment-ios .segment-button.segment-activated {
        background-color: #eaeaea;
    }
    .qwerty .item-inner {
        border: none !important;
    }
    .lines-with {
        padding-right: 10px;
    }
    .text-right {
        text-align: right !important;
    }
    .periods {
        background-color: #ffffff;
    }
   
}
