h4 {
    font-size: 25px;
    margin: 0;
}
.atvs {
    font-size: 18px;
    line-height: 42px;
    color: #888888;
    font-weight: 700;
}
.responsive {
    max-width: 42px !important;
    height: auto;
}
.floatLeft { float: left; }
.floatRight { float: right; }
.space-logo {
    padding: 0 25px;
}
.month-label {
    text-transform: uppercase;
}
.present-time {
    color: #e70f09;
}
page-tracker {
    .group-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 12px;
        color: #8e8e8e;
        background-color: #eaeaea;
    }
    .present-time {
        color: #e70f09;
    }
}

