
<ion-header>

  <ion-navbar color="primary">
    <ion-title>FULL SCHEDULE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
<!-- new  -->
<ion-grid class="no-padding" *ngFor="let group of groupedContacts">
  <ion-item-divider class="group-title" sticky>{{ group.letter | datefortackerlabel }}</ion-item-divider> 
  <div *ngFor="let tae of group.taes" class="bg-click" tappable (click)="gameDetails(tae)">
    <div *ngIf="tae.competitors[0].isHomeCompetitor === 1; else notHome" class="is-home">
      <ion-row class="padding-kaliwa-kanan">
        <ion-col class="text-left">
          <div class="label">{{ tae.competitors[1].teamNickname }}</div>
        </ion-col>
        <ion-col class="text-right">
          <div class="label">{{ tae.competitors[0].teamNickname }}</div>
        </ion-col>
      </ion-row>
  
      <ion-row *ngIf="tae.matchStatus == 'COMPLETE' || tae.matchStatus == 'FINISHED'" class="padding-kaliwa-kanan">
        <ion-col col-3 class="text-left">
         <h4>{{ tae.competitors[1].scoreString }}</h4>
        </ion-col>   
        <ion-col col-6 class="text-center space-logo">
            <div> <img src="{{ tae.competitors[1].images.logo.S1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ tae.competitors[0].images.logo.S1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
        </ion-col>
        <ion-col col-3 class="text-right">
          <h4>{{ tae.competitors[0].scoreString }}</h4>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="tae.matchStatus == 'SCHEDULED'" class="padding-kaliwa-kanan">
        <ion-col col-3 class="text-left">
         <h4>{{ tae.competitors[1].scoreString }}</h4>
        </ion-col>   
        <ion-col col-6 class="text-center space-logo">
            <div> <img src="{{ tae.competitors[1].images.logo.S1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ tae.competitors[0].images.logo.S1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
        </ion-col>
        <ion-col col-3 class="text-right">
          <h4>{{ tae.competitors[0].scoreString }}</h4>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="tae.matchStatus == 'IN_PROGRESS'" class="padding-kaliwa-kanan">
        <ion-col col-3 class="text-left">
         <h4></h4>
        </ion-col>   
        <ion-col col-6 class="text-center space-logo">
            <div> <img src="{{ tae.competitors[1].images.logo.S1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ tae.competitors[0].images.logo.S1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
        </ion-col>
        <ion-col col-3 class="text-right">
          <h4></h4>
        </ion-col>
      </ion-row>
  
      <ion-row class="padding-kaliwa-kanan">
        <ion-col class="text-left">
          <div>{{ tae.matchTime | datefortracker }}</div>
        </ion-col>
        <ion-col *ngIf="tae.matchStatus == 'COMPLETE' || tae.matchStatus == 'FINISHED'" class="text-right">
          <div>Final</div>
        </ion-col>
        <ion-col *ngIf="tae.matchStatus == 'IN_PROGRESS'" class="text-right">
          <div class="present-time">Live: {{ liveClock(tae) }}</div>
        </ion-col>
        <ion-col *ngIf="tae.matchStatus == 'SCHEDULED'" class="text-right">
            <div>{{ tae.matchTime | moment }}</div>
        </ion-col>
      </ion-row>
      <div class="hr"> </div>
    </div>
    <ng-template #notHome>
        <div class="is-home">
            <ion-row class="padding-kaliwa-kanan">
              <ion-col class="text-left">
                <div class="label">{{ tae.competitors[0].teamNickname }}</div>
              </ion-col>
              <ion-col class="text-right">
                <div class="label">{{ tae.competitors[1].teamNickname }}</div>
              </ion-col>
            </ion-row>
        
            <ion-row *ngIf="tae.matchStatus == 'SCHEDULED'" class="padding-kaliwa-kanan">
              <ion-col col-3 class="text-left">
               <h4>{{ tae.competitors[0].scoreString }}</h4>
              </ion-col>   
              <ion-col col-6 class="text-center space-logo">
                  <div> <img src="{{ tae.competitors[0].images.logo.S1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ tae.competitors[1].images.logo.S1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
              </ion-col>
              <ion-col col-3 class="text-right">
                <h4>{{ tae.competitors[1].scoreString }}</h4>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="tae.matchStatus == 'COMPLETE' || tae.matchStatus == 'FINISHED'" class="padding-kaliwa-kanan">
              <ion-col col-3 class="text-left">
               <h4>{{ tae.competitors[0].scoreString }}</h4>
              </ion-col>   
              <ion-col col-6 class="text-center space-logo">
                  <div> <img src="{{ tae.competitors[0].images.logo.S1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ tae.competitors[1].images.logo.S1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
              </ion-col>
              <ion-col col-3 class="text-right">
                <h4>{{ tae.competitors[1].scoreString }}</h4>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="tae.matchStatus == 'IN_PROGRESS'"  class="padding-kaliwa-kanan">
              <ion-col col-3 class="text-left">
               <h4></h4>
              </ion-col>   
              <ion-col col-6 class="text-center space-logo">
                  <div> <img src="{{ tae.competitors[0].images.logo.S1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ tae.competitors[1].images.logo.S1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
              </ion-col>
              <ion-col col-3 class="text-right">
                <h4></h4>
              </ion-col>
            </ion-row>
        
            <ion-row class="padding-kaliwa-kanan">
              <ion-col class="text-left">
                <div>{{ tae.matchTime | datefortracker }}</div>
              </ion-col>
              <ion-col *ngIf="tae.matchStatus == 'COMPLETE' || tae.matchStatus == 'FINISHED'" class="text-right">
                <div>Final</div>
              </ion-col>
              <ion-col *ngIf="tae.matchStatus == 'IN_PROGRESS'" class="text-right">
                  <div class="present-time">Live: {{ liveClock(tae) }}</div>
                </ion-col>
                <ion-col *ngIf="tae.matchStatus == 'SCHEDULED'" class="text-right">
                    <div>{{ tae.matchTime | moment }}</div>
                </ion-col>
            </ion-row>
        
            <div class="hr"> </div>
          </div>
    </ng-template>
  </div>

</ion-grid>
  
</ion-content>
