<!--
  Generated template for the GoogleplayTabsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>FULL SCHEDULE</ion-title>
  </ion-navbar>
   <ion-toolbar>
      <ion-content  #MultiItemsScrollingTabs class="tabsContent">
        <ion-segment  class="SwipedTabs-tabs"  >
          <ion-segment-button *ngFor='let tab of tabs ; let i = index ' id="tabTitle{{i}}" value="IngoreMe" (click)="selectTab(i)"
          [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'   >
          {{ tab }}
        </ion-segment-button>
      </ion-segment>
      <!-- here is our dynamic line  "indicator"-->
      <div id='indicator' class="SwipedTabs-indicatorSegment"></div>
    </ion-content>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen>
<ion-slides  #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
    (ionSlideDidChange)="updateIndicatorPosition()"
    (ionSlideWillChange)="scrollIndicatiorTab()"
    (panend)="updateIndicatorPositionOnTouchEnd()"
    [pager]="false">
 
      <ion-slide *ngFor="let shit of shits"> 

           <div class="bg-click" *ngIf="shit.competitors[0].isHomeCompetitor != 1; else kabila">
              <ion-row class="padding-kaliwa-kanan">
                <ion-col class="text-left">
                  <div class="label">{{ shit.competitors[0].competitorName }}</div>
                </ion-col>
                <ion-col class="text-right">
                  <div class="label">{{ shit.competitors[1].competitorName }}</div>
                </ion-col>
              </ion-row>
          
              <ion-row class="padding-kaliwa-kanan">
                <ion-col col-3 class="text-left">
                 <h4>80</h4>
                </ion-col>   
                <ion-col col-6 class="text-center space-logo">
                    <div> <img src="{{ shit.competitors[0].images.logo.T1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ shit.competitors[1].images.logo.T1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
                </ion-col>
                <ion-col col-3 class="text-right">
                  <h4>100</h4>
                </ion-col>
              </ion-row>
          
              <ion-row class="padding-kaliwa-kanan">
                <ion-col class="text-left">
                  <div>Tue, 10 Jul</div>
                </ion-col>
                <ion-col class="text-right">
                  <div>Final</div>
                </ion-col>
              </ion-row>
          
              <div class="hr"> </div>
          </div>
          <ng-template #kabila>
              <div class="bg-click">
                  <ion-row class="padding-kaliwa-kanan">
                    <ion-col class="text-left">
                      <div class="label">{{ shit.competitors[1].competitorName }}</div>
                    </ion-col>
                    <ion-col class="text-right">
                      <div class="label">{{ shit.competitors[0].competitorName }}</div>
                    </ion-col>
                  </ion-row>
              
                  <ion-row class="padding-kaliwa-kanan">
                    <ion-col col-3 class="text-left">
                     <h4>80</h4>
                    </ion-col>   
                    <ion-col col-6 class="text-center space-logo">
                        <div> <img src="{{ shit.competitors[1].images.logo.T1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"> <font class="atvs text-center">@</font>  <img src="{{ shit.competitors[0].images.logo.T1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
                    </ion-col>
                    <ion-col col-3 class="text-right">
                      <h4>100</h4>
                    </ion-col>
                  </ion-row>
              
                  <ion-row class="padding-kaliwa-kanan">
                    <ion-col class="text-left">
                      <div>Tue, 10 Jul</div>
                    </ion-col>
                    <ion-col class="text-right">
                      <div>Final</div>
                    </ion-col>
                  </ion-row>
              
                  <div class="hr"> </div>
              </div>
          </ng-template>
      </ion-slide>

        

    </ion-slides>
</ion-content>