page-sample {
    .SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.2s all;
        -moz-transition:  0.2s all;
        -o-transition:  0.2s all;
        transition:  0.2s all;
        transform-origin: top 0 left 0;
        height: 2px;
      position: relative;
      top: -2px;
      background-color: #E01E35 !important;
    }

    .SwipedTabs-tabs ion-segment-button
    {
      border:none !important;
      color: rgb(142, 142, 142) !important;
      background-color:white!important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }


    .SwipedTabs-tabs
    {
        width: fit-content !important;
    }
    .swiper-slide {
        display: block;
    }
     .toolbar *
    {
        margin: 0 !important;
    }

    .tabsContent .scroll-content
    {
        overflow-x: scroll !important;
        overflow-y: hidden;
    }

    .tabsContent
    {
        height: 50px !important;
    }

    .segment-button
    {
        max-width: initial !important;
        flex: auto !important;
        width: initial !important;
    }
}
.ios{
    page-sample {
        .SwipedTabs-indicatorSegment
        {
            position: relative;
            top: 43px !important;
        }
        .segment-ios .segment-button {
            color: gray;
        }

    }
}
.md {
    page-sample {
        .tabsContent
        {
            height: 42px !important;
        }
    }
}
.ios,
.md {
    page-sample {
        .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
            color:#E01E35 !important;
            font-weight: 700;
        }
        .segment-button {
            text-transform: uppercase;
        }
        .SwipedTabs-tabs ion-segment-button {
            padding-left: 20px !important;
        }
     }
    
}


