<ion-header>
  <ion-navbar color="primary">
    <ion-title>HOME</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content class="home-page" padding #container>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="custom-pull"
        refreshingSpinner="ios-small">
      </ion-refresher-content>
    </ion-refresher>                                  
  
  <ion-grid  class="no-padding bg-home-slide" style="background: url('assets/imgs/newhome.jpg') no-repeat center center !important; background-size: cover !important;-webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;">
    
    <ion-slides pager>
      <ion-slide *ngFor="let dataMatch of dataMatches;">
          <div class="space-md"></div>
      <ion-row class="padding-kaliwa-kanan logo-space">
          <ion-col class="text-left">
            <div class="logo" *ngIf="dataMatch.competitors[0].images == undefined; else rara">
              <img src="assets/imgs/abl-crest.png" alt="logo" class="responsive floatLeft" width="600" height="400">
            </div>
            <ng-template #rara>
              <div class="logo"><img src="{{ dataMatch.competitors[0].images.logo.S1.url }}" alt="logo" class="responsive floatRight" width="600" height="400"></div>
            </ng-template>
          </ion-col>
          <ion-col col-6>
              <div class="date date-time text-center">
                <p class="date-for-home">{{ dataMatch.matchTime | datefortracker }}</p>
                <p class="date-for-home">{{ dataMatch.matchTime | moment }} GTM+8</p>
              </div>
            </ion-col>
          <ion-col class="text-right">
            <div class="logo" *ngIf="dataMatch.competitors[1].images == undefined; else raraTwo">
              <img src="assets/imgs/abl-crest.png" alt="logo" class="responsive floatRight" width="600" height="400">
            </div>
            <ng-template #raraTwo>
              <div class="logo"><img src="{{ dataMatch.competitors[1].images.logo.S1.url }}" alt="logo" class="responsive floatLeft" width="600" height="400"></div>
            </ng-template>
          </ion-col>
        </ion-row>
        <div class="space-sm"></div>
        <ion-row class="padding-kaliwa-kanan">
            <ion-col class="text-center">
                <div class="date text-center">
                    <p class="date-for-home">{{ venue(dataMatch) }}</p>
                </div>
            </ion-col>
          </ion-row>
          <div class="space-sm"></div>
          <button *ngIf="dataMatch.matchStatus == 'COMPLETE' || dataMatch.matchStatus == 'FINISHED'" tappable (click)="gameDetails(dataMatch)" class="btn-preview" ion-button color="light" outline small>RECAP</button>
          <button *ngIf="dataMatch.matchStatus == 'IN_PROGRESS'" tappable (click)="gameDetails(dataMatch)" class="btn-preview btn-live-kami" ion-button color="light" outline small>LIVE</button>
          <button *ngIf="dataMatch.matchStatus == 'SCHEDULED'" tappable (click)="gameDetails(dataMatch)" class="btn-preview" ion-button color="light" outline small>PREVIEW</button>
          <button tappable (click)="openYoutube()" class="btn-preview" ion-button color="light" outline small>TEST YOUTUBE</button>
          <div class="space-md"></div>  
      </ion-slide>
      
    </ion-slides>
   
    
  </ion-grid>
  <ion-item-group>
      <!-- <ion-item-divider sticky class="latest">MGA PUTA</ion-item-divider> -->
      <ion-slides autoplay="5000" loop="true" speed="2000">
          <ion-slide>
              <img src="assets/imgs/slide1.jpg">
          </ion-slide>
          <ion-slide>
              <img src="assets/imgs/slide2.jpg">
          </ion-slide>
          <ion-slide>
              <img src="assets/imgs/slide3.jpg">
          </ion-slide>
          <ion-slide>
              <img src="assets/imgs/slide4.jpg">
          </ion-slide>
          <ion-slide>
              <img src="assets/imgs/slide5.jpg">
          </ion-slide>
        </ion-slides>
      <ion-item-divider sticky class="latest">LATEST {{ test }}</ion-item-divider>
      <ion-card *ngFor="let data of datas; let i = index;" tappable (click)="openNews(data,i)">
          <img *ngIf="data.status == 'publish'; else pepe" class="imahe" [defaultImage]="'assets/imgs/lazy-slingers.jpg'" [lazyLoad]="data._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url" [scrollObservable]="container.ionScroll">
          <ng-template #pepe>
            <img [defaultImage]="'assets/imgs/lazy-slingers.jpg'" [lazyLoad]="'assets/imgs/lazy-slingers.jpg'" [scrollObservable]="container.ionScroll">
          </ng-template>   
          <ion-card-content>
            <ion-card-title>
             <div class="news-title">{{ data.title.rendered }}</div>
            </ion-card-title>
          </ion-card-content>
          <ion-row>
            <ion-col class="date-news">
             <p class="publish-date">{{ data.date | date: "dd MMM, h:mm a" }}</p>
            </ion-col>
            <ion-col text-right class="btn-share">
              <button ion-button clear small color="danger" icon-start (click)="share(data)">
                <ion-icon name='share-alt'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
    </ion-item-group>

</ion-content>
