.card.card-ios ,.card-md {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    border-radius: 0;
}
.featured-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover !important;  
}
.cover-preview {
    width: 100%;
    overflow: hidden;
    background-size: cover !important;  
}
.publish-date {
    font-size: 1.3rem !important;
    text-align: left;
    line-height: 35px;
}
.date-news {
    padding-left: 15px;
}
.date {
    color: #ffffff;
}
.date p {
    margin-top: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.logo-space {
    padding: 0 30px;
}
.space-md {
    height: 30px;
}
.space-sm {
    height: 20px;
}
.btn-preview {
    text-align: center;
    margin: 0 125px;
    border-radius: 0px;
}
.cover-preview {
    position: relative;
  }
  
  .cover-preview:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:0;
  }
  
  .cover-preview:before{
    display: block;
  }
  
  .cover-preview:before {
    background-color: #e01e35d6 !important;
  }
  .latest {
    color: #8e8e8e;
    font-size: 1.4rem;
  }
  .btn-share .button-inner {
    color: #e70f09;
}
.imahe {
    height: auto;
    width: 100%;
}
.home-page .scroll-content {
    padding: 0 !important;
}
page-home {
    .date-time {
        padding-top: 2px;
    }
    .date-for-home {
        font-size: 13px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        bottom: 10px;
    }
    .space-md {
        height: 40px;
    }
    .swiper-pagination-bullet-active {
        background: #ffffff;
    }
    .btn-live-kami {
        background: #fff;
        color: #e70f09;
    }
}
