// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #e70f09,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

h5 {
  font-weight: 700 !important;
}
.text-center {
  text-align: center;
}
.white {
  color: #ffffff;
}
.red {
  color: #e70f09;
}
.yellow {
  color: #FFC629;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.boldy {
  font-weight: 700;
}
.padding-kaliwa-kanan {
  padding-left: 5px;
  padding-right: 5px;
}
.bg-black {
  background-color: #000000;
}
.bg-click:hover {
  background-color: #eaeaea;
}
.bg-white {
  background-color: #ffffff;
}
.table-padding {
  padding-top: 3px;
  padding-bottom: 3px;
}
.news-title {
  font-weight: 700;
}
.loading-wrapper {
  background: transparent !important;
}
.loading-md .loading-wrapper {
  box-shadow: none !important;
}
.segment-ios .segment-button.segment-activated {
  color: gray;
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
