<ion-header>

  <ion-navbar color="primary">
    <ion-title>PLAYER INFO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-grid class="no-padding">
   
    <ion-item *ngFor="let data of datas" class="bg-click player-info no-padding padding-kaliwa-kanan">
      <h2><font class="player-number padding-kaliwa-kanan">{{ data.defaultShirtNumber }}</font> {{ personFirstname(data) }} {{ playerLastname(data) }}</h2>
      <p class="basic-info padding-kaliwa-kanan">{{ data.defaultPlayingPosition }} {{ playerHeight(data) }}, {{ playerWeight(data) }}</p>
      <ion-row>
        <ion-col col-3 class="text-center player-label">
          <div>PPG</div>
        </ion-col>
        <ion-col col-3 class="text-center player-label">
          <div>APG</div>
        </ion-col>
        <ion-col col-3 class="text-center player-label">
          <div>RPG</div>
        </ion-col>
      </ion-row>
    <ng-container *ngIf="playerStatsLength > 0; else yoyoyo">
      <ion-row *ngFor="let playerStat of playerStats">
            <ion-col col-3 class="text-center no-padding-top">
                <div>{{ decimalPpg(playerStat) }}</div>
              </ion-col>
              <ion-col col-3 class="text-center no-padding-top">
                <div>{{ decimalApg(playerStat) }}</div>
              </ion-col>
              <ion-col col-3 class="text-center no-padding-top">
                <div>{{ decimalRpg(playerStat) }}</div>
                
              </ion-col>
      </ion-row>
    </ng-container>
    <ng-template #yoyoyo>
      <ion-row>
          <ion-col col-3 class="text-center no-padding-top">
            <div>-</div>
          </ion-col>
          <ion-col col-3 class="text-center no-padding-top">
            <div>-</div>
          </ion-col>
          <ion-col col-3 class="text-center no-padding-top">
            <div>-</div>
          </ion-col>
    </ion-row>
    </ng-template>
      <ion-row>
        <ion-col col-3 class="text-center player-label">
          <div>FG</div>
        </ion-col>
        <ion-col col-3 class="text-center player-label">
          <div>FT</div>
        </ion-col>
      </ion-row>

     <ng-container *ngIf="playerStatsLength > 0; else yeyeye">
        <ion-row *ngFor="let playerStat of playerStats">
            <ion-col col-3 class="text-center no-padding-top">
              <div>{{ playerFgpercentage(playerStat) }}</div>
            </ion-col>
            <ion-col col-3 class="text-center no-padding-top">
              <div>{{ playerFtpercentage(playerStat) }}</div>
            </ion-col>
          </ion-row>
     </ng-container>
     <ng-template #yeyeye>
        <ion-row>
            <ion-col col-3 class="text-center no-padding-top">
              <div>-</div>
            </ion-col>
            <ion-col col-3 class="text-center no-padding-top">
              <div>-</div>
            </ion-col>
          </ion-row>
     </ng-template>
      <ion-avatar *ngIf="data.images == undefined; else kadeem" item-end>
        <img class="player-photo" src="assets/imgs/unknown-player.jpg">
      </ion-avatar>
      <ng-template #kadeem>
        <ion-avatar item-end>
          <img class="player-photo" src="{{ data.images.photo.S1.url }}">
        </ion-avatar>
      </ng-template>
    </ion-item>
    <ion-row *ngFor="let data of datas" class="bio padding-kaliwa-kanan">
      <ion-col>
        <div>Born: {{ playerBirthday(data) }}</div>
      </ion-col>
      <ion-col>
        <div class="nationality">Nationality: {{ playerNationality(data) }}</div>
      </ion-col>
    </ion-row> 
    <ion-row *ngFor="let data of datas" class="bio padding-kaliwa-kanan">
        <ion-col class="social-player">
          <div><ion-icon tappable (click)="facebook(data)" name="logo-facebook"></ion-icon></div>
        </ion-col>
          <ion-col class="social-player">
            <div><ion-icon tappable (click)="twitter(data)" name="logo-twitter"></ion-icon></div>
          </ion-col>
        <ion-col class="social-player">
          <div><ion-icon tappable (click)="instagram(data)" name="logo-instagram"></ion-icon></div>
          </ion-col>
      </ion-row>
<ng-container *ngIf="playerLogsLength > 0; else wew">
    <ion-row class="bg-gray boldy">
      <ion-col class="text-center">
        <div>GAME LOG</div>
      </ion-col>
    </ion-row>
<div class="shit-container">
    <div  class="forecast_container_standings">
      <ion-row nowrap>
        <ion-col col-4 class="white text-center bg-black boldy">
            <div class="label"></div>
          </ion-col>
        <ion-col col-5 class="white text-center bg-black boldy">
          <div class="label">OPPONENT</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">MIN</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">PTS</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">AST</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">REB</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">FG%</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">BLK</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">STL</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">3PT%</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">FT%</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">TO</div>
        </ion-col>
        <ion-col col-2 class="white text-center bg-black boldy">
          <div class="label">PF</div>
        </ion-col>
      </ion-row>
      <ion-row  *ngFor="let playerLog of playerLogs" nowrap class="table-padding">
          <ion-col col-4 class="text-center">
              <div></div>
            </ion-col>
          <ion-col col-5 class="text-center">
            <div>vs. {{ playerLog.competitors[0].teamNickname }}</div>
          </ion-col>
          <ion-col col-2 class="text-center">
            <div>{{ minutes(playerLog) }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ playerLog.sPoints }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ playerLog.sAssists }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ playerLog.sReboundsTotal }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ fieldgoal(playerLog) }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ playerLog.sBlocks }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ playerLog.sSteals }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ threepoints(playerLog) }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ freethrows(playerLog) }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ playerLog.sTurnovers }}</div>
        </ion-col>
        <ion-col col-2 class="text-center">
          <div>{{ playerLog.sFoulsPersonal }}</div>
        </ion-col>
        </ion-row>
    </div>
  </div>
      
      <ion-row>
        <ion-col col-4 class="padding-gamelog white text-left bg-black boldy">
          <div>DATE</div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let playerLog of playerLogs" class="player-stats">
        <ion-col col-4 class="padding-gamelog text-left bg-white player-name-standings">
          <div class="table-padding">{{ playerLog.matchTime | dateforlog }}</div>
        </ion-col>
      </ion-row>
</ng-container>
<ng-template #wew>
</ng-template>

                <ion-row class="bg-gray boldy">
                  <ion-col class="text-center">
                    <div>STATISTICS</div>
                  </ion-col>
                </ion-row>
            <div class="shit-container">
                <div class="forecast_container_standingsz">
                  <ion-row class="row" nowrap="">
                    <ion-col col-5 class="white text-center bg-black boldy col">
                        <div class="label"></div>
                      </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col">
                      <div class="label">MIN</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col">
                      <div class="label">PTS</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col">
                      <div class="label">AST</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col">
                      <div class="label">REB</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col">
                      <div class="label">FG%</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col">
                      <div class="label">BLK</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col">
                      <div class="label">STL</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col" col-2="">
                      <div class="label">3PT%</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col" col-2="">
                      <div class="label">FT%</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col" col-2="">
                      <div class="label">TO</div>
                    </ion-col>
                    <ion-col col-2 class="white text-center bg-black boldy col" col-2="">
                      <div class="label">PF</div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let playerHistorie of playerHistories" class="table-padding row" nowrap="">
                      <ion-col col-5 class="text-center col" col-4="">
                          <div></div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                            <div>{{ decimalMpg(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ decimalCareerPpg(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ decimalCareerApg(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ decimalCareerRpg(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ fieldgoalCareer(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{  decimalCareerBpg(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ decimalCareerSpg(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ threepointsCareer(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ freethrowsCareer(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ decimalCareerTpg(playerHistorie) }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center">
                          <div>{{ decimalCareerFppg(playerHistorie) }}</div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="table-padding row" nowrap="">
                      <ion-col col-5 class="text-center col" col-4="">
                          <div></div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                            <div>{{ mostMin }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostPoints }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostAssists }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostRebounds }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostFg }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostBlocks }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostSteals }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostThreept }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostFt }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostTurnovers }}</div>
                        </ion-col>
                        <ion-col col-2 class="text-center boldy">
                          <div>{{ mostPersonalfouls }}</div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>   
                  <ion-row>
                    <ion-col col-2 class="padding-gamelog white text-left bg-black boldy">
                      <div>YEAR</div>
                    </ion-col>
                    <ion-col col-3 class="padding-gamelog white text-left bg-black boldy">
                      <div>TEAM</div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let playerHistorie of playerHistories" class="player-stats">
                    <ion-col col-2 class="padding-gamelog text-left bg-white player-name-standings">
                      <div class="table-padding">{{ careerYear(playerHistorie) }}</div>
                    </ion-col>
                    <ion-col col-3 class="padding-gamelog text-left bg-white player-name-standings">
                      <div class="table-padding">{{ careerTeam(playerHistorie) }}</div>
                    </ion-col>
                  </ion-row>
                      <ion-row class="player-stats">
                        <ion-col col-2 class="padding-gamelog text-left bg-white player-name-standings">
                          <div class="table-padding">CAR.</div>
                        </ion-col>
                        <ion-col col-3 class="padding-gamelog text-left bg-white player-name-standings">
                          <div class="table-padding"></div>
                        </ion-col>
                      </ion-row>
  </ion-grid>
</ion-content>
