
page-player-detail {
    .player-info .input-wrapper {
        display: block;
    }
    .player-photo {
        height: 100px !important;
        width: 100px !important;
    }
    .player-info .item-inner {
        padding-left: 5px;
    }
    .bio {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .forecast_container_standings{ 
        overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
        height:auto;
        font-size: 1.4rem;
        position: absolute;
        //padding-left: 150px;
        width: 100%;
    }

    // .forecast_container_standings{
    //     overflow-x: scroll!important;
    //     overflow-y: hidden;
    //     word-wrap: break-word;
    //     height:auto;
    //     font-size: 1.4rem;
    //     position: absolute;
    //     width: 100%;
    //     z-index: -999;
    // }
    .forecast_container_standings .label {
        font-weight: 700;
        font-size: 1.4rem;
    }
    .forecast_container_standingsz{
        overflow-x: scroll!important;
        // overflow-x: auto !important;
        overflow-y: hidden;
        word-wrap: break-word;
        height:auto;
        font-size: 1.4rem;
        position: absolute;
        width: 100%;
    }
    .forecast_container_standingsz .label {
        font-weight: 700;
        font-size: 1.4rem;
    }
    .player-name-standings {
        -webkit-box-shadow: 1px 1px 1px 0px #a2a2a2;
        box-shadow: 1px 1px 1px 0px #a2a2a2;
        background-color: #ffffff;
    }
    .padding-gamelog {
        padding-left: 10px;
        padding-right: 10px;
    }
    .player-label {
      font-size: 1.4rem;
      font-weight: normal;
      color: #8e9093;
    }
    .no-padding-top {
        padding-top: 0;
    }
    .shit-container {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .nationality {
        text-transform: capitalize;
    }
    .social-player{
        color: #e70f09;
        font-size: 25px;
    }
    .social-player:last-child {
        text-align: left;
    }
    .social-player:first-child {
        text-align: right;
    }
    .social-player:nth-child(2) {
        text-align: center;
    }
    ion-icon.icon.icon-ios.ion-logo-twitter {
        border-left: 1px solid #e70f09;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #e70f09;
    }
    .no-social {
        color: #8e9093 !important;
    }
}
