
<ion-header>

  <ion-navbar hideBackButton color="primary">
      <ion-buttons left class="go-home">
          <button ion-button (click)="doYourStuff()">
              <ion-icon class="customIcon" name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen class="game-detail">
  <ion-card class="next-post">
    <img class="imahe" src="{{ post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url }}">
    <ion-card-content>
      <ion-card-title>
       <div class="news-title">{{ post.title.rendered }}</div>
      </ion-card-title>
    </ion-card-content>
    <ion-row>
      <ion-col class="date-news" col-8>
        <p class="publish-date">{{ post.date | date: "dd MMM, h:mm a" }} | {{ post._embedded.author[0].name }}</p>
      </ion-col>
      <ion-col text-right class="btn-share">
        <button ion-button clear small color="danger" icon-start (click)="share()">
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
    <div class="hr"> </div>
    <div class="content-container">
    <p class="news-content" [innerHtml]="post.content.rendered"></p></div>
    <ion-item-divider class="latest">NEXT POST</ion-item-divider>
    <ion-item text-wrap (click)="openNext(datas)">
      <ion-avatar item-start>
        <img class="image-nextpost" src="{{ nextImage(datas) }}">
      </ion-avatar>
      <div class="title-nextpost">{{ nextTitle(datas) }} | {{ i }}</div>
      <p class="date-nextpost">{{ pota(datas)  | date: "dd MMM yyyy" }}</p>
    </ion-item>
  </ion-card>
 
</ion-content>
