p.news-content {
    padding: 16px;
  
}
.content-container p {
    color: #000000;
}
.image-nextpost {
    width: auto !important;
    height: 50px !important;
    border-radius: 0 !important;
}
.title-nextpost, .date-nextpost {
    font-size: 1.4rem;
}
.date-nextpost {
    font-weight: 400;
    padding-top: 5px;
}
.go-home .bar-button-ios {
    font-size: 30px;
}
.go-home .bar-button-md {
    font-size: 20px;
    margin: 0 12px;
}
.game-detail .next-post {
    box-shadow: none;
}
.news-content img {
    width: 100%;
    height: auto;
}
.news-content p {
    padding-bottom: 10px;
}
.news-content video {
    width: 100% !important;
    height: auto !important;
}

    

