p.nationality {
    color: #3c3c3c;
}
.player-sort .segment-ios {
    top: -19px !important;
    left: -10px;
}
.player-sort .segment-button {
    border-color: #ffffff;
    color: #ffffff;
}
.segment-ios .segment-button.segment-activated {
    background-color: #ffffff;
    color: #e70f09 !important;
}
.sort-label {
    font-weight: 700;
    font-size: 10px;
}
.toolbar-ios .segment-button {
    max-width: 80px;
   
}
