
<ion-header>

  <ion-navbar color="primary">
      <ion-title>ROSTER</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
<!-- <div [ngSwitch]="segments"> -->
  <ion-grid class="no-padding">
      <ion-row class="bg-gray">
          <ion-col class="text-center">
            <div class="label">PLAYER ROSTER</div>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let sortNumber of sortNumbers" class="bg-click" tappable (click)="playerDetailsPoints(sortNumber)">
            <ion-avatar *ngIf="sortNumber.images == undefined; else puta" item-start>
              <img class="player-photo" src="assets/imgs/unknown-player.jpg">
            </ion-avatar>
            <ng-template #puta>
              <ion-avatar item-start>
                <img class="player-photo" src="{{ sortNumber.images.photo.S1.url }}">
              </ion-avatar>
            </ng-template>
            <h5><font class="player-number">{{ sortNumber.competition_player.shirtNumber }} {{ sortNumber.competition_player.playingPosition }}</font>  {{ playerName(sortNumber) }}</h5>
            <!-- <p class="nationality">{{ sortNumber.nationalityCodeIOC }}</p> -->
            <p>{{ playerHeight(sortNumber) }} &#8226; {{ sortNumber.weight }} lbs.</p>
          </ion-item>
  </ion-grid>
  <!-- <ion-grid *ngSwitchCase="'name'" class="no-padding">
      <ion-row class="bg-gray">
          <ion-col class="text-center">
            <div class="label">PLAYER ROSTER</div>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let sortName of sortNames" class="bg-click" tappable (click)="playerDetailsPointsSortNames(sortName)">
            <ion-avatar *ngIf="sortName.images == undefined; else puta" item-start>
              <img class="player-photo" src="assets/imgs/unknown-player.jpg">
            </ion-avatar>
            <ng-template #puta>
              <ion-avatar item-start>
                <img class="player-photo" src="{{ sortName.images.photo.S1.url }}">
              </ion-avatar>
            </ng-template>
            <h5><font class="player-number">{{ sortName.competition_player.shirtNumber }} {{ sortName.competition_player.playingPosition }}</font> {{ playerNameSortName(sortName) }}</h5>
             <p class="nationality">{{ sortName.nationalityCodeIOC }}</p>
            <p>{{ sortNameHeight(sortName) }} &#8226; {{ sortName.weight }} lbs.</p>
          </ion-item>
  </ion-grid>
  <ion-grid *ngSwitchCase="'position'" class="no-padding">
      <ion-row class="bg-gray">
          <ion-col class="text-center">
            <div class="label">PLAYER ROSTER</div>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let sortPosition of sortPositions" class="bg-click" tappable (click)="playerDetailsPointsSortNames(sortPosition)">
          <ion-avatar *ngIf="sortPosition.images == undefined; else putaPete" item-start>
            <img class="player-photo" src="assets/imgs/unknown-player.jpg">
          </ion-avatar>
          <ng-template #putaPete>
            <ion-avatar item-start>
              <img class="player-photo" src="{{ sortPosition.images.photo.S1.url }}">
            </ion-avatar>
          </ng-template>
          <h5><font class="player-number">{{ sortPosition.competition_player.shirtNumber }} {{ sortPosition.competition_player.playingPosition }}</font> {{ playerNameSortPosition(sortPosition) }}</h5>
           <p class="nationality">{{ sortPosition.nationalityCodeIOC }}</p>
          <p>{{ sortPositionHeight(sortPosition) }} &#8226; {{ sortPosition.weight }} lbs.</p>
        </ion-item>
  </ion-grid>
</div> -->
</ion-content>
