<ion-header>
    <ion-navbar color="primary">
        <ion-toolbar class="player-sort">
            <ion-segment [(ngModel)]="segments" (click)="overview()">
              <ion-segment-button value="card">
                <div class="sort-label">OVERVIEW</div> 
              </ion-segment-button>
              <ion-segment-button value="name" (click)="playByplay()">
                  <div class="sort-label">PLAY-BY-PLAY</div>
                </ion-segment-button>
                <ion-segment-button value="position" (click)="boxScore()">
                    <div class="sort-label">BOX SCORE</div>
                  </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
      <ion-title>game-detail</ion-title>
    </ion-navbar>
</ion-header>


<ion-content fullscreen>
    <ion-list>
        <ion-item *ngFor="let i of items">{{i}}</ion-item>
      </ion-list>
     
      
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
     
  <!-- <ion-grid class="no-padding">
      <ion-row class="padding-top-bottom">
          <ion-col col class="text-center red bg-click">
            <div>1</div>
          </ion-col>
          <ion-col col class="text-center red bg-click">
            <div>2</div>
          </ion-col>
          <ion-col col class="text-center red bg-click">
            <div>3</div>
          </ion-col>
          <ion-col col class="text-center red bg-click">
            <div>4</div>
          </ion-col>
          <ion-col col class="text-center red bg-click">
            <div>OT</div>
          </ion-col>
        </ion-row>
        <div class="hr"> </div>
        <ion-row class="play-team">
            <ion-item class="play-by-play">
                <ion-avatar  class="logo-left" item-start>
                  <img src="assets/imgs/team-logo.jpg">
                </ion-avatar>
                <ion-row>
                    <ion-col>
                        <div><font class="team-away">Slingers</font><font class="team-home">Dreamers</font></div>
                      </ion-col>
                  </ion-row>
                <ion-avatar class="logo-right" item-end>
                    <img  src="assets/imgs/sample/logo-l-dreamers.jpg">
                </ion-avatar>
              </ion-item>
        </ion-row>
     
        <ion-item class="play-details">
            <ion-avatar item-start>
              <img src="assets/imgs/team-logo.jpg">
            </ion-avatar>
            <div class="play-time">9:35</div>
            <p class="play-who">7, M. SINGLETARY, 2pt hookshot missed</p>
          </ion-item>
          <ion-item class="play-details">
              <ion-avatar item-start>
                <img src="assets/imgs/team-logo.jpg">
              </ion-avatar>
              <div class="play-time">9:33</div>
              <p class="play-who">69, D. APIROMVILAICHAI, 3pt jump shot missed</p>
            </ion-item>
            <ion-item class="play-details">
                <ion-avatar item-end>
                  <img src="assets/imgs/sample/logo-l-dreamers.jpg">
                </ion-avatar>
                <div class="play-time">9:30</div>
                <p class="play-who">21, C. CHARLES, jump ball - lost</p>
              </ion-item>
              <ion-item class="play-details">
                  <ion-avatar item-start>
                    <img src="assets/imgs/team-logo.jpg">
                  </ion-avatar>
                  <div class="play-time">9:33</div>
                  <p class="play-who">69, D. APIROMVILAICHAI, 3pt jump shot missed</p>
                </ion-item>
                <ion-item class="play-details">
                    <ion-avatar item-end>
                      <img src="assets/imgs/sample/logo-l-dreamers.jpg">
                    </ion-avatar>
                    <div class="play-time">9:30</div>
                    <p class="play-who">21, C. CHARLES, jump ball - lost</p>
                  </ion-item>
                  <ion-item class="play-details">
                      <ion-avatar item-start>
                        <img src="assets/imgs/team-logo.jpg">
                      </ion-avatar>
                      <div class="play-time">9:35</div>
                      <p class="play-who">7, M. SINGLETARY, 2pt hookshot missed</p>
                    </ion-item>
                    <ion-item class="play-details">
                        <ion-avatar item-start>
                          <img src="assets/imgs/team-logo.jpg">
                        </ion-avatar>
                        <div class="play-time">9:33</div>
                        <p class="play-who">69, D. APIROMVILAICHAI, 3pt jump shot missed</p>
                      </ion-item>
                      <ion-item class="play-details">
                          <ion-avatar item-end>
                            <img src="assets/imgs/sample/logo-l-dreamers.jpg">
                          </ion-avatar>
                          <div class="play-time">9:30</div>
                          <p class="play-who">21, C. CHARLES, jump ball - lost</p>
                        </ion-item>
  </ion-grid> -->
</ion-content>
