page-playbyplay {
    .padding-top-bottom{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .logo-label {
        max-width: 32px !important;
        height: auto;
    }
    .team-away{
        float:left;
    }
    .team-home{
        float:right;
    }
    .play-by-play {
        padding-left: 0;
        font-size: 1.4rem;
    }
    .play-by-play .item-inner {
        padding-right: 0 !important;
        border-bottom: none !important;
    }
    .play-by-play .col {
        padding-left: 0;
        padding-right: 0;
    }
    .play-team {
        box-shadow: 0 8px 6px -6px #eaeaea;
        margin-bottom: 10px;
    }
    .logo-left {
        padding-left: 5px;
    }
    .logo-right {
        padding-right: 5px;
    }
    .play-details .item-inner {
        border-bottom: none !important;
    }
    .play-details {
        border-bottom: 1px solid #c8c7cc;
        border-top: 1px solid #c8c7cc;
        margin-bottom: 15px;
    }
    .play-time {
        font-size: 13px;
        font-weight: normal;
    }
    p.play-who {
        font-size: 11px;
        color: #000000;
    }
  
}
